@charset "UTF-8";
body{
    text-align: center;
    color: white;
    background: white no-repeat;
}
main{
    padding: auto;
    padding: 10px;
    margin: 10px;
    background: url(imagens/pexels-madison-inouye-1831234.jpg);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
}
p{
    position: relative;
    bottom: 239px;
}
h2,h4{
    position: relative;
    bottom: 224px; 
}
.imagen{
   display: block;
   position: relative;
   bottom: 100px;
}
