@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600;700&family=PT+Serif&display=swap');
body{
    text-align: center;
    color: rgb(14, 13, 13);
    background: url(imagens/rosa.jpg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'PT Serif', serif;
    font-size: x-large;

}
p{
    position: relative;
    bottom: 239px;
}
h2,h4{
    position: relative;
    bottom: 224px; 
}
.imagen{
   display: inline-block;
   position: relative;
   bottom: 400px;
   left: 10px;
}
img{
    padding: 10px;
}
.v{
    position: relative;
    
}
h1{
 position: relative;
bottom: 450px;


}